@model Filippov.Models.Dogovor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dogovor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tarif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strah_summa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strah_summa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strah_platej)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strah_platej)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.FIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers1.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers1.FIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strah_sluchai.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strah_sluchai.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strah_type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strah_type.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
